{% extends "core/base.html" %}

{% block content2 %}

	{% if tweets %}    	
		{% for tweet in tweets %}
			{% include 'tweets/tweet_list.html' %}
		{% endfor %}
	{% else %}
	    <p>There are no tweets.</p>
	{% endif %}

	<a class="btn btn-primary btn-block btn-lg" href="{% url 'tweets:tweet_new' %}">
		Compose new Tweet
	</a>
    
{% endblock content2 %}

{% block content3 %}

	<h3>Who to Follow</h3>
		{% for user in users %}
			<div class="col-offset-xs-2">
				{{user.username}}
			</div>
		{% endfor %}
				
{% endblock content3 %}