			
{% if tweets %}
    	
	{% for tweet in tweets %}
		

		<div class="panel panel-default tweet-box">
			<div class="row">
				<div class="col-xs-1">
					{% load static %}
					<img src="{% static 'core/awesome_profile.png' %}" class="user-photo">
				</div>
				<div class="col-xs-11">
					{{tweet.user}}
					{{tweet.published_date}}
					{{tweet.tweet_text}}
						
				</div>	
			</div>	
		</div>
		
	{% endfor %}

{% else %}
    <p>There are no tweets.</p>

{% endif %}


<a class="btn btn-primary btn-block btn-lg" href="{% url 'tweets:tweet_new' %}">
	Compose new Tweet
</a>
