{% extends "core/base.html" %}

{% block content1 %}
	<h1>	
		{{other_user.first_name.title}} {{other_user.last_name.title}}
	</h1>
	@{{other_user.username}}
{% endblock content1 %}

{% block content2 %}
    
    {% if tweets %}			    	
		{% for tweet in tweets %}
			{% if tweet.user.pk == other_user.pk %}
				{% include 'tweets/tweet_list.html' %}			
			{% endif %}
		{% endfor %}
	{% else %}
	    <p>This user has no tweets</p>
	{% endif %}

{% endblock content2 %}

{% block content3 %}
	{% include 'user_profiles/who_to_follow.html' %}
{% endblock content3 %}