{% extends "core/base.html" %}

{% block content %}
	<div class="row">
		<div class="col-lg-3 col-xs-4 tweet-lg-left">
			<h2>
				Test
				{{username}}
			</h2>

		</div>
		<div class="col-lg-6 col-xs-8 tweet-lg-center">
			
				{% if user_profiles %}
				    	
						{% for user_profile in user_profiles %}
							<div class="panel panel-default">
								{{user_profile.username}}
							</div>
						{% endfor %}
				
				{% else %}
				    <p>There are no users.</p>

				{% endif %}
			

			
		</div>
		<div class="col-lg-3 col-xs-4 tweet-lg-right">
			Who to follow
		</div>
	</div>
{% endblock content %}