{% extends "core/base.html" %}

{% block content %}
	<div class="row">
		<div class="col-lg-3 col-xs-4 tweet-lg-left">
			<h2>{{user_data}}</h2>
		</div>
		<div class="col-lg-6 col-xs-8 tweet-lg-center">
			
				{% if tweets %}
				    	
						{% for tweet in tweets %}
							<div class="panel panel-default">
								{{tweet.tweet_text}}
							</div>
						{% endfor %}
				
				{% else %}
				    <p>There are no tweets.</p>

				{% endif %}
			

			<a class="btn btn-primary btn-block btn-lg" href="{% url 'tweets:tweet_new' %}">
				Compose new Tweet
			</a>
		</div>
		<div class="col-lg-3 col-xs-4 tweet-lg-right">
			Who to follow
		</div>
	</div>
{% endblock content %}