{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        {% block title %}
            Twitter
        {% endblock title %}
    </title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <script src="https://use.fontawesome.com/a04d9e4c1c.js"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'core/styles.css' %}" />
</head>
<body>
    <header>
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">             
                <ul class="nav navbar-nav">
                    <li><img class="navbar-brand icon-logo" src="https://www.dropbox.com/s/hx8tbx991rkz3rr/awesome_tweet.png?dl=1"/></li>

                    <li><a href="{% url 'core:index' %}" class="navbar-brand visible-lg">
                        <i class="fa fa-home" aria-hidden="true"></i>
                        Home
                    </a></li>
                    <li><a href="{% url 'core:index' %}" class="navbar-brand hidden-lg">
                        <i class="fa fa-home" aria-hidden="true"></i>
                    </a></li>

                    <li><a href="{% url 'core:index' %}" class="navbar-brand">
                        <i class="fa fa-bolt" aria-hidden="true"></i>
                    </a></li>

                    <li><a href="{% url 'tweets:tweet_display' %}" class="navbar-brand visible-lg">
                        <i class="fa fa-bell" aria-hidden="true"></i>
                        Notifications
                    </a></li>
                    <li><a href="{% url 'tweets:tweet_display' %}" class="navbar-brand hidden-lg visible-xs">
                        <i class="fa fa-bell" aria-hidden="true"></i>
                    </a></li>
                    
                    <li><a href="{% url 'core:index' %}" class="navbar-brand">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                    </a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if request.user.is_authenticated %}
                        <li><a href="{% url 'accounts:logout' %}">
                        Logout
                        </a></li>
                            <li><a class="navbar-brand" href="{% url 'user_profiles:profile_list' %}"> 
                            {{user.username}}
                            {% load static %}
                            <img src="{% static 'core/awesome_profile.png' %}" class="navbar-brand user-photo-nav">
                        </a></li>
                    {% else %}
                        <li><a href="{% url 'accounts:login' %}">Login</a></li>
                        <li><a href="{% url 'accounts:register' %}">Sign Up</a></li>
                        
                    {% endif %}

                    
                    <li><a href="{% url 'tweets:tweet_new' %} ">
                        <img class="tweet-icon" src="http://buyfollowersguide.com/wp-content/uploads/2014/10/twitter-tweet-icon.png">
                    </a></li>
                
                </ul>
                
                
            </div>            
        </nav>
    </header>
    
    <div class="container">
        <div class="row">

            <div class="col-lg-3 col-xs-12 tweet-lg-left">
                {% block content1 %}
                    
                {% endblock content1 %}
            </div>
            
            <div class="col-lg-3 col-lg-push-6 col-xs-4 tweet-lg-right">
                {% block content3 %}
                    
                {% endblock content3 %}
                
            </div>

            <div class="col-lg-6 col-lg-pull-3 col-xs-8 tweet-lg-center">
                {% block content2 %}
                    
                {% endblock content2 %}
            </div>

            
        </div>    
    {% block content %}
        
    {% endblock content %}

    </div>
    <footer class="page-footer">
        <hr>
        <div class="container">
            &copy; Awesome Inc U. Bootcamp 2016
        </div>
    </footer>

    <script   src="https://code.jquery.com/jquery-3.1.0.min.js"   integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="   crossorigin="anonymous"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>