{% extends "core/base.html" %}

{% block content1 %}	
	<h2>
		{{full_name}}
	</h2>
	<p>
		{{username}}
	</p>
    
{% endblock content1 %}

{% block content2 %}

	{% if tweets %}    	
		{% for tweet in tweets %}
			{% include 'tweets/tweet_list.html' %}
		{% endfor %}
	{% else %}
	    <p>There are no tweets.</p>
	{% endif %}

	<a class="btn btn-primary btn-block btn-lg" href="{% url 'tweets:tweet_new' %}">
		Compose new Tweet
	</a>
    
{% endblock content2 %}

{% block content3 %}

	<h3>Who to Follow</h3>
		{% for user in users %}
			<div class="panel panel-default to-follow">
				<div class="row">
					<div class="col-xs-3">
						{% load static %}
						<img src="{% static 'core/awesome_profile.png' %}" class="follow-user-photo">
					</div>

					<div class="col-xs-9 tweet-rows">
						<div class="row">
							<strong>{{user.first_name.title}} {{user.last_name.title}}</strong>
							@{{user.username}}
						</div>					
					</div>	
				</div>	
			</div>
		{% endfor %}
				
{% endblock content3 %}