{% extends "core/base.html" %}

{% block content1 %}	
	<h2>
		{{full_name}}
	</h2>
	<p>
		{{username}}
	</p>
    
{% endblock content1 %}

{% block content2 %}

	{% if tweets %}    	
		{% for tweet in tweets %}
			{% include 'tweets/tweet_list.html' %}
		{% endfor %}
	{% else %}
	    <p>There are no tweets.</p>
	{% endif %}

	<a class="btn btn-primary btn-block btn-lg" href="{% url 'tweets:tweet_new' %}">
		Compose new Tweet
	</a>
    
{% endblock content2 %}

{% block content3 %}

	{% include 'user_profiles/who_to_follow.html' %}
				
{% endblock content3 %}