body {
	margin-top: 70px;
	font-family: Helvetica;
}

.icon-bar {
	background-color: black;
}

.icon-logo {
	border: 1px solid black;
	height: 40px;
	padding: 0;
}

.navbar-fixed-top a {
	color: #66757F;
}

.navbar-header a:hover {
	color: #2771AA;
}

.navbar-right {
	float: right;
}

.user-photo-nav {
	margin-top: -15px;
}

.tweet-box {
	margin: 5px;
	height: 85px;
	font-size: 14px;
}

.tweet-rows {
	margin: 5px 0px;
}

.user-photo {
	width: 48px;
	border-radius: 5px;
	margin-top: 12px;
	margin-left: 2px;
	background-color: #1da1f2;
}

.tweet-lg-right {
	float: top;
}

.page-footer {
	position: fixed;
	bottom: 10px;
}

.follow-user-photo {
	width: 30px;
	border-radius: 5px;
	margin-top: 10px;
	margin-left: 1px;
	background-color: #1da1f2;
}