body {
	margin-top: 70px;
}

.icon-bar {
	background-color: black;
}

/*#navbar-header-collapse {
	background-color: white;
}*/

.navbar-fixed-top a {
	color: #66757F;
}

.navbar-header a:hover {
	color: #2771AA;
}

.navbar-right {
	float: right;
}

.tweet-box {
	margin: 0;
}

.icon-logo {
	border: 1px solid black;
	height: 50px;
	padding: 0;
}

.user-photo-nav {
	margin-top: -15px;
}

.user-photo {
	width: 30px;
}
