body {
	margin-top: 70px;
}

.icon-bar {
	background-color: black;
}

#navbar-header-collapse {
	background-color: white;
}

.navbar-fixed-top a {
	color: #66757F;
}

.navbar-header a:hover {
	color: #2771AA;
}

.tweet-box {
	margin: 0;
}

